<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{:: section})">

<head>
	<meta charset="UTF-8" />
	<title>About</title>
</head>

<body>
	
	<section>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias debitis assumenda praesentium veritatis
			quasi rerum unde dicta optio harum molestiae atque non cum quam alias velit quaerat repellat sapiente
			similique quis nobis officia quos laboriosam necessitatibus quo odit soluta aspernatur ex temporibus enim
			nulla tempore consequatur totam vel voluptatum at error magni mollitia nisi consequuntur corporis quod
			voluptatibus. Corrupti dolorum?</p>

	</section>

</body>

</html>