<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title></title>
</head>

<body>

	<section>
		<h1>This is contact page</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos obcaecati culpa nisi totam fuga
			asperiores mollitia quasi sapiente adipisci quo ipsa inventore magnam. Sapiente quisquam fuga odit error
			atque cum fugiat dolore reiciendis totam deserunt ea fugit at assumenda officia nihil voluptatum harum
			cumque omnis ratione accusamus modi quibusdam illum soluta eaque quia aliquid iusto distinctio blanditiis
			accusantium nisi mollitia.</p>
	</section>
</body>

</html>