<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title></title>
</head>

<body>
	<footer id="fragmentTag" th:fragment="footer1">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum hic ad minus aut architecto adipisci eos
			perferendis placeat reprehenderit quos vel repellat cumque quas quidem mollitia. Nihil sequi minus ex totam
			vero quo tempora excepturi ea neque odio cumque vitae at tenetur maiores illum eligendi natus dolores dolor
			quasi doloremque?</p>
	</footer>
</body>

</html>